.venv
node_modules
frontend/dist
*.pyc
__pycache__/
.pytest_cache/
.DS_Store
*.log
models/
offline-packages/
offline-packages-backend/
.env
audios_wav/
audios_txt/
ffmpeg*/
result/
uploads/
tasks.db
範例*.*
preprocessed/
security_reports/
系統分析及設計.docx
系統測試.docx
WI-GA215-附件一、SSDLC檢核表-已填寫.xlsx
WI-GA202：01安全等級評估表_電子報系統.docx
WI-GA202資通系統分級及防護基準作業指導.docx
WI-GA202：03資通系統資安防護基準檢核表V2.docx
WI-GA202：01安全等級評估表_Whisper語音轉文字系統_已填寫.docx
WI-GA202：01安全等級評估表_Whisper語音轉文字系統.docx
WI-GA202：03資通系統資安防護基準檢核表_Whisper語音轉文字系統_普級_已填寫.docx
WI-GA202：03資通系統資安防護基準檢核表_Whisper語音轉文字系統_普級.docx
WI-GA202-填寫說明.md
~$-GA202：03資通系統資安防護基準檢核表_Whisper語音轉文字系統_普級_已填寫.docx
WI-GA202：01安全等級評估表_AI輔助系統(語音轉文字).docx
WI-GA202：03資通系統資安防護基準檢核表V2_AI輔助系統(語音轉文字).docx
