.venv
node_modules
frontend/dist
*.pyc
__pycache__/
.pytest_cache/
.DS_Store
*.log
models/
offline-packages/
offline-packages-backend/
.env
audios_wav/
audios_txt/
ffmpeg*/
result/
uploads/
tasks.db
範例*.*
preprocessed/